* {  
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header a{
    
    color: purple;
    font-size: 4.00vh;
    border-bottom: 1px purple solid;
}

.welcome-slide{
    text-align: center;
    margin-top: 10%;
}
.welcome-slide p{
    padding: 15px;
    font-size: 3.00vh;
}
.starter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}
#start-btn{
    border: solid purple 8px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: 3.00vh;
    
}
#question-name{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.answer-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8%;
}
#showanswer{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.50vh;
    color: grey;
    margin-top: 2%;
    padding-top: 3px;
    border-top: lightgrey 1px solid;
}
.btn{
    border: solid purple 25px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: 3.00vhl;
    padding: 5px;
    width: 35%;
    height: 25%;
    margin: 3px;
}